[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/ConcurrentQueue"]
	path = lib/ConcurrentQueue
	url = https://github.com/bhhbazinga/ConcurrentQueue
[submodule "src/vendor/stb"]
	path = src/vendor/stb
	url = https://github.com/nothings/stb
